li {
  display: inline-flex;
}

li {
  float: left;
}

a {
  display: flex;
  padding: 8px;
  background-color: #444e4d1c;
}

ul {
  list-style-type: disc;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(39, 19, 153);
}

li {
  float: left;
}
li a:hover {
  background-color: #111;
}
li a {
  display: block;
  color: rgb(249, 248, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline overline;
}

body {
  background-color: #1e9ec9;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 1700px 230px;
}

h1 {
  text-align: center;
  color: rgb(24, 196, 181);
  font-size: 70px;
  text-shadow: 2px 2px 5px rgb(0, 17, 255);
}

p {
  text-align-last: center;
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-shadow: 2px 2px 5px rgb(238, 236, 236);
}
